---
import { getCollection, type CollectionEntry } from "astro:content";
import MainWrapper from "../../components/MainWrapper.astro";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
export const getStaticPaths = async () => {
  const posts: CollectionEntry<"posts">[] = await getCollection("posts");
  const paths = posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });
  return paths;
};

type Props = {
  post: CollectionEntry<"posts">;
};
const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <MainWrapper>
    <h1 class="text-3xl font-bold">{post.data.title}</h1>
    <Image src={post.data.image} alt={"image"} />
    <div class="prose prose-2xl overflow-visible relative mb-20">
      <Content />
    </div>
  </MainWrapper>
</Layout>
